login {
	.item-md{ padding-right: 16px !important; }
	.button-md{ text-transform: capitalize; }
	.scroll-content{ height: 100% !important; padding-bottom: 0 !important; }
	.custom-center{ text-align: center; }
	.vertical-align{ display: table !important; height: 100% !important; width: 100% !important; }
	.middle{ display: table-cell; vertical-align: middle; }

}
