<ion-content>
    <div class="vertical-align">
        <!--  -->
        <div class="middle">
        <form [formGroup]="loginForm" (ngSubmit)="submit()" novalidate="">            
            <ion-row>
                <ion-col class="custom-center" style="padding: 0 16px">
                    <img style="width: 100%" src="assets/images/logo.png" alt="">
                </ion-col>
            </ion-row>
            <ion-row>                
                <ion-col>                    
                    <ion-list>                                           
                        <ion-item>
                            <ion-label floating>Username</ion-label>
                            <ion-input type="text" [(ngModel)]="user.username" formControlName="username"></ion-input>
                        </ion-item>                    
                        <ion-item>
                            <ion-label floating>Password</ion-label>
                            <ion-input type="password" [(ngModel)]="user.password" formControlName="password"></ion-input>
                        </ion-item>                                        
                        <ion-row></ion-row>                        
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row margin-top>
                <ion-col class="custom-center" style="padding: 0 16px">
                    <button margin-top ion-button full type="submit">Login</button>  <!-- [disabled]="!loginForm.valid" -->
                </ion-col>
            </ion-row>
        </form>
        </div>
    </div>
</ion-content>

