<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>List</ion-title>

        <ion-buttons class="margin-right" end>
            <button ion-button icon-only (click)="addItem()"><ion-icon name="add" ios="ios-add" md="md-add"></ion-icon></button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button icon-only (click)="searchItem()"><ion-icon name="search" md="md-search"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar *ngIf="searchBox" [(ngModel)]="searchText" (ionInput)="searchFn()"></ion-searchbar>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>    
    <ion-list>                       
        <ion-item-sliding *ngFor=" let item of list; let pos=index ">
            <ion-item>
                <h2 (click)="showDetail(item)">{{item.companyName}}</h2>
                <!-- <button class="status" ion-button clear item-right>New</button> -->
                <button class="more" ion-button clear icon-only item-right (click)="presentPopover($event, item)"><ion-icon name="more"></ion-icon></button>                
            </ion-item>
            <!-- <ion-item-options side="left">
                <button ion-button color="primary">
                    <ion-icon name="text"></ion-icon>Text
                </button>
                <button ion-button color="secondary">
                    <ion-icon name="call"></ion-icon>Call
                </button>
            </ion-item-options> -->
            <ion-item-options side="right">
                <button ion-button icon-only color="danger" (click)="removeItem( item, pos)">
                    <ion-icon name="trash" ios="ios-trash" md="md-trash"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
        <ion-infinite-scroll margin-top (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-list>
    
</ion-content>
