regList {

	.status{ color: #000 !important; font-size: 1rem !important; }
	.more{ color: #000 !important; font-size: 1.5rem !important; padding: 0 5px !important;}
	.margin-right{ margin: 0 2rem !important; }
	
}