<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div padding>
        <h5 style="text-align: justify;">InfraPrix is a rapidly emerging solution-based technology company, helping different organizations with solving their purchase problems in a quick and convenient way.</h5>

        <p style="font-size: 15px; text-align: justify;">We are providing our unique and advantageous technology-driven solutions that help organizations solve and simplify their purchase problems while doing business in infrastructure and real estate industry.</p>

        <p style="font-size: 15px; text-align: justify;">We are a technology-driven platform that understands the possible purchase obstacles in construction industry and help the seller and buyer organizations grow with our unique & beneficial solutions for the same. We understand that availability of sellers of construction materials has been a major issue for buyers. They have limited access to dealers & distributors and don’t know about all the sellers around them. The purchase heads of buyer organizations don’t have enough time to compare prices from too many sellers and hence, stick with a particular seller’s product, for a longer period. They are unable to check the products of other sellers, which is not profitable for both buyers as well as sellers. Also, buyers face the problem of instant price fluctuations and most of the time; they don’t know what the exact prices are. On the other hand, sellers are unable to reach out to a huge number of potential buyers due to very little or no dealer / distributor network as well as their financial constraints in advertisement and marketing.</p>

        <p style="font-size: 15px; text-align: justify;">Utilizing the state-of-the-art technology, highly complex algorithms and our exceptional market leadership in the industry, we are helping the organizations increase their business much faster than the traditional way of conducting business in construction industry. Our precisely customized solutions cover almost all the objectives of seller and buyer organizations. With the help of advanced technology, we are changing the conventional way of conducting business in infrastructure and real estate industry and make it a quick, hassle-free and a transparent process.</p>
    </div>
</ion-content>
