<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
		  <ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Settings</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<!-- <ion-item-sliding>				
		  	<ion-item>
				<ion-toggle [(ngModel)]="enabletracking" (ionChange)="enableTracking(enabletracking)"></ion-toggle>
				<ion-label>Enable Tracking</ion-label>
				<ion-icon name='locate' item-left></ion-icon>
			</ion-item>
			<ion-item-options side="right">
	            <button ion-button icon-only color="primary" (click)="showLocation()">
	                <ion-icon name="eye" ios="ios-eye" md="md-eye"></ion-icon>
	            </button>
	        </ion-item-options>
        </ion-item-sliding> -->
        <ion-item-sliding>				
		  	<ion-item>				
				<ion-label>Clear Data</ion-label>
				<ion-icon name='trash' item-left></ion-icon>
			</ion-item>
			<ion-item-options side="right">
	            <button ion-button icon-only color="danger" (click)="clearData()">
	                <ion-icon name="trash" ios="ios-trash" md="md-trash"></ion-icon>
	            </button>
	        </ion-item-options>
        </ion-item-sliding>
		<ion-row margin-top></ion-row>		
	</ion-list>
	<ion-list *ngIf="locationItem">
		<ion-item *ngFor=" let item of locationItem "><ion-label>{{item.latitude}} - {{item.longitude}}</ion-label></ion-item>
	</ion-list>
</ion-content>