<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Document</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
      <ion-list>
      		<form novalidate [formGroup]="documentForm" (ngSubmit)="submitForm()">
      		<ion-item>
                <ion-label>Please select</ion-label>
                <ion-select [(ngModel)]="params.document_type" formControlName="type">
                    <ion-option value="Raw Leads Data">Raw Leads Data</ion-option>
                    <ion-option value="Company Related Documents">Company Related Documents</ion-option>
                    <ion-option value="Site Address">Site Address</ion-option>
                    <ion-option value="Product Details">Product Details</ion-option>
                    <ion-option value="Images">Images</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label floating>Title</ion-label>
                <ion-input type="text" [(ngModel)]="params.title" formControlName="title"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Description</ion-label>
                <ion-textarea [(ngModel)]="params.description" formControlName="description"></ion-textarea>
            </ion-item>
            <ion-item>               	
            	<button type="button" ion-button medium icon-left (click)="chooseFile()">
			        <ion-icon name='attach'></ion-icon>Browse
				</button>				
				<ion-row *ngIf="nativeFilepath">
					<ion-col><span>filepath: </span><i>{{nativeFilepath}}</i></ion-col>
				</ion-row>				
				<!-- [ng-style]="{'width': percentage+'%'}" -->
				<div class="progress-outer" *ngIf="showProgressBar">
				   <div class="progress-inner" [style.width.%]="percentage">				       
				   </div>
				</div>
            </ion-item>
            <ion-row>
                <ion-col margin-top>
                    <button ion-button full type="submit" [disabled]="!documentForm.valid">Upload</button>  
                </ion-col>
            </ion-row>
            </form>                       
      </ion-list>
</ion-content>
