
.progress-outer {
   width: 96%;
   margin: 10px 0;
   padding: 1px;
   text-align: center;
   background-color: #fff;
   border: 1px solid #dcdcdc ;
   color: #fff;
   border-radius: 20px;
}

.progress-inner {   
   white-space: nowrap;
   overflow: hidden;
   padding: 1px;
   width: 0%;
   border-radius: 20px;
   background-color: map-get($colors, primary);
}   