

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner{
	border-bottom: 1px solid #dedede;
	box-shadow: none;
}
.textUC input{ text-transform: uppercase !important; }

/*.text-input::-moz-placeholder {
  font-size: 1.6rem;
}

.text-input:-ms-input-placeholder {
  font-size: 1.6rem;
}

.text-input::-webkit-input-placeholder {
  font-size: 1.6rem;
}*/

