<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Registration</ion-title>
    </ion-navbar>
</ion-header>
<!-- [disabled]="regUser.exist" -->
<ion-content>
    <ion-list>
        <form novalidate [formGroup]="registrationForm" (ngSubmit)="logForm()">
            <ion-item>
                <ion-label floating>Company</ion-label>
                <ion-input type="text"  [(ngModel)]="regUser.companyName" formControlName="companyName"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Register As{{ManagerSeller}}{{ManagerBuyer}}</ion-label>
                <ion-select [(ngModel)]="regUser.userType" placeholder="User" [disabled]=" regUser.exist || ManagerSeller || ManagerBuyer " formControlName="userType" (ionChange)="setCategory($event, true)">
                    <ion-option value="buyer">Buyer</ion-option>
                    <ion-option value="seller">Seller</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label floating>Please select</ion-label>
                <ion-select [(ngModel)]="regUser.type" placeholder="Type" formControlName="type" (ionChange)="sellerType($event)">                    
                    <ion-option *ngFor=" let items of userBusinessType" value="{{items.text}}">{{items.text}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="regUser.userType =='seller'">
                <ion-label floating>Please select</ion-label>
                <ion-select [(ngModel)]="category" placeholder="Category type" formControlName="category" multiple="{{regUser.type!='Manufacturer'? true: false}}" (ionChange)="formatListOfCategories($event)">                    
                    <ion-option *ngFor=" let items of listOfCategories " [value]="items.id">{{items.text}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="regUser.userType=='seller'">
                <ion-label floating>Pan</ion-label>
                <ion-input class="textUC" type="text" [(ngModel)]="regUser.pan" formControlName="pan"></ion-input>
            </ion-item>
            <ion-item *ngIf="regUser.userType=='seller'">
                <ion-label floating>Tin</ion-label>
                <ion-input type="text" [(ngModel)]="regUser.tin" formControlName="tin"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input type="email" [(ngModel)]="regUser.email" [disabled]="regUser.exist"  formControlName="email"></ion-input>
            </ion-item>
            <ion-item *ngIf="!regUser.exist">
                <ion-label floating>Password</ion-label>
                <ion-input type="password" [(ngModel)]="regUser.password" formControlName="password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Mobile</ion-label>
                <ion-input type="tel" [(ngModel)]="regUser.mobile" formControlName="mobile"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Please select state</ion-label>
                <ion-select [(ngModel)]="regUser.stateId" placeholder="State" formControlName="state" (ionChange)="onStateChange($event)">
                    <ion-option *ngFor=" let i of stateList" value="{{i.id}}">{{i.statename}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label floating>Please select city</ion-label>
                <ion-select [(ngModel)]="regUser.cityId" placeholder="City" formControlName="city" (ionChange)="onCityChange($event)">
                    <ion-option *ngFor=" let i of cityList " value="{{i.id}}">{{i.name}}</ion-option>
                </ion-select>
            </ion-item> 
            <ion-item>
                <ion-label floating>Address</ion-label>
                <ion-textarea [(ngModel)]="regUser.address" formControlName="address"></ion-textarea>
            </ion-item> 

            <ion-row>
                <ion-col margin-top>
                    <button ion-button full type="submit" [disabled]="!registrationForm.valid">Save</button>  
                </ion-col>
            </ion-row>                       
        </form>
    </ion-list>
</ion-content>


<!-- <ion-option value="" selected="true">Category</ion-option> let isFirst = first" selected="{{isFirst}} -->