<ion-header>
    <ion-navbar>
        <!-- <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button> -->
        <!-- <ion-buttons left>
        	<button ion-button icon-only (click)="goBack()">
        		<ion-icon md="md-arrow-back"></ion-icon>
        	</button>
        </ion-buttons> -->
       	
        <ion-title>Site</ion-title>
        <ion-buttons class="margin-right" end>        	
            <button ion-button icon-only (click)="addItem()"><ion-icon name="add" ios="ios-add" md="md-add"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
	<form name="siteform" #siteform="ngForm" (ngSubmit)="submit($event)">		
    	<ion-list *ngFor=" let list of sites; let i = index; let isFirst = first; ">
    		
    		<ion-item *ngIf=" gusertype == 'seller' ">
                <ion-label floating>Please select</ion-label>
                <ion-select name="category{{i}}" [(ngModel)]="list.arraycategory" placeholder="category" multiple="{{gtype!='Manufacturer'? true: false}}" (ionChange)="formatListOfCategories($event, i)" [disabled]="list.isDeleted == 1" required>                    
                    <ion-option *ngFor=" let items of selectedcategory " [value]="items.id">{{items.text}}</ion-option>
                </ion-select> 
            </ion-item>            

			<ion-item>
	            <ion-label floating>{{ gusertype=='seller' ? 'sitename(factory/warehouse)': 'Sitename' }}</ion-label>
	            <ion-input name="sitename{{i}}"  type="text" [(ngModel)]="list.site_name" [disabled]="list.isDeleted == 1" required></ion-input>
	        </ion-item>	        
	        <ion-item *ngIf="gusertype=='seller'">
	        	<ion-label floating>Please select</ion-label>
	        	<ion-select name="address_type{{i}}" placeholder="factory/warehouse" [(ngModel)]="list.address_type" [disabled]="list.isDeleted == 1" required>
	        		<ion-option [value]="'3'">Factory</ion-option>
	        		<ion-option [value]="'4'">Warehouse</ion-option>
	        	</ion-select>
	        </ion-item>

			<ion-item>
	            <ion-label floating>Please select</ion-label>
	            <ion-select name="state{{i}}" [(ngModel)]="list.stateid" placeholder="state" (ionChange)="onStateChange($event, i)" [disabled]="list.isDeleted == 1" required>
	                <ion-option *ngFor=" let i of stateList" value="{{i.id}}">{{i.statename}}</ion-option>
	            </ion-select>
	        </ion-item>
	        <ion-item>
	            <ion-label floating>Please select</ion-label>
	            <ion-select name="city{{i}}" [(ngModel)]="list.cityid"  placeholder="city" (ionChange)="onCityChange($event, i)" [disabled]="list.isDeleted == 1" required>
	                <ion-option *ngFor=" let i of cityList[i]" value="{{i.id}}">{{i.name}}</ion-option>
	            </ion-select>
	        </ion-item>
	        <ion-item>
	            <ion-label floating>Address</ion-label>
	            <ion-input name="address{{i}}" type="text" [(ngModel)]="list.address" [disabled]="list.isDeleted == 1" required></ion-input>
	        </ion-item>        
	        <ion-row></ion-row>
	        <ion-row>
		        <ion-col right margin-top>
		        	<button ion-button type="button" [disabled]=" list.isDeleted == 1 " (click)="removeItem(i)">Delete</button>
		        </ion-col>
	        </ion-row>
	        <!-- <ion-item-divider></ion-item-divider> -->
    	</ion-list>
	    <ion-row>
	        <ion-col margin-top>
	            <button ion-button full type="submit" [disabled]=" !siteform.form.valid">Save</button>  
	            <!-- [disabled]="!siteform.valid" -->
	        </ion-col>
	    </ion-row>
    </form>    	
</ion-content>