<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Upload</ion-title>        
    </ion-navbar>
</ion-header>

<ion-content>
	<ion-row>
        <ion-col right margin-top>
        	<button ion-button full type="button" (click)="uploadData()">Upload Records</button>
        </ion-col>
    </ion-row>
</ion-content>